.row{   /* Correccion por problemas de bootstrap */
    --bs-gutter-x: 0;
}

a{
    text-decoration: none;
    color: white;
}

.navbar{    /* Propiedades del Navbar */
    background-color: rgb(58, 58, 58);
    padding: 0;
}

.imagenNav{
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.imagenNav img{
    width: 12vh;
    height: 8vh;
}

.imagenNav span{
    color: white;
}

.flexnav{
    display: flex;
    justify-content: end;
}

@media screen and (max-width: 991px) {
    .flexnav{
        display: flex;
        justify-content: start;
    }
}


.listaNav li{
    list-style: none;
}

.listaNav a{
    color: white;
}

.listaNav .tickets{
    color: rgb(33, 192, 33);
}

.cardIntroduccion{      /* Propiedades del main */
    border-radius: 0;
}

.introduccion div{  
    width: 40%;
}

.introduccion{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 70px;
}

@media screen and (max-width: 714px) {
    .introduccion div{
        width: 100%;
        font-size: 1.5vh;
    }

    .introduccion{
        padding: 5px;
    }

    .introduccion button{
        width: 7vh;
        height: 4vh;
        font-size: 1vh;
    }

    .introduccion h5{
        font-size: 1.6vh;
    }
}

@media screen and (max-width: 347px){
    .introduccion div{
        font-size: 10px;
    }
}

.marginCards{
    margin-right: 2vh;
}

.lenguajes{
    padding-top: 20px;
}

.text-bg-info{
    color: white!important;
}

.cardDescripcion{
    padding-top: 0px;
}

.gridCards{
    width: 80%;
}

.flexCards{
    display: flex;
    justify-content: center;
}

.gridLugar{
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardLugar{
    color: white;
    background-color: rgb(68, 68, 68);
}

.gridForm{
    width: 70%;
}

.flexForm{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.inputs{
    margin-right: 2vh;
}

.textForm{
    margin-top: 1vh;
}

.Send{
    width: 100%;
    background-color: rgb(126, 189, 32);
}


.Footer{        /* Propiedades del footer */
    background-color: rgb(12, 106, 129);
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1vh;
}

.listaFoot{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0;
}

.listaFoot li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 10vh;
    font-size: 1.5vh;
}

.listaFoot a{
    text-decoration: none;
    color: white;
}